@page
@model SendEmail.Pages.Email.IndexModel
@{
}

<form method="post">
    <div class="form-group">
        <label for="inputEmail">Enter your Email address:</label>
        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="example@gmail.com">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
